#pills-home {
    background-image: url('images/colored background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#pills-profile {
    background-image: url('images/Rectangle 4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#location {
    position: absolute;
    width: 104.31px;
    height: 31px;
    left: 143px;
    top: 103px;
}

#div-Ellipse {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 43px;
    top: 153px;
}

#r1 {
    position: absolute;
    width: 44px;
    height: 129px;
    left: 21px;
    top: 593px;
    background: #FFFFFF;
    border-radius: 10px;
}

#r2 {
    position: absolute;
    width: 44px;
    height: 129px;
    left: 91px;
    top: 593px;
    background: #FFFFFF;
    border-radius: 10px;
}

#r3 {
    position: absolute;
    width: 44px;
    height: 129px;
    left: 163px;
    top: 593px;
    background: #FFFFFF;
    border-radius: 10px;
}

#r4 {
    position: absolute;
    width: 44px;
    height: 129px;
    left: 239px;
    top: 593px;
    background: #FFFFFF;
    border-radius: 10px;
}

#r5 {
    position: absolute;
    width: 44px;
    height: 129px;
    left: 315px;
    top: 593px;
    background: #FFFFFF;
    border-radius: 10px;
}

#btn-pop {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 227px;
    top: 519px;
}